<template>
  <el-card
    v-loading="loading"
    class="form-card"
  >
    <el-input
      v-for="input in inputs"
      :key="input.name"
      :show-password="input.name === 'password'"
      :placeholder="input.placeholder"
      v-model="form[input.name]"
      autofocus
    />
  </el-card>
</template>

<script>
import {
  mapActions,
  mapGetters
} from 'vuex';
import {
  ACTION_AUTH_LOGIN,
  GETTER_LOADING
} from '../../const';

export default {
  data () {
    return {
      inputs: [
        { placeholder: 'Login', name: 'login' },
        { placeholder: 'Password', name: 'password' }
      ],
      form: {
        login: '',
        password: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      loading: GETTER_LOADING
    })
  },
  watch: {
    form: {
      deep: true,
      handler ({ login, password }) {
        if (login.length === 6 && password.length === 6) {
          this.loginData({
            data: { login, password },
          });
        }
      }
    }
  },
  methods: {
    ...mapActions({
      loginData: ACTION_AUTH_LOGIN
    })
  }
}
</script>

<style>
  .form-card > .el-card__body {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>