<template>
  <el-card v-loading="loading">
    <el-input
      placeholder="Enter"
      v-model="value"
      @input="onInput"
    />
  </el-card>
</template>

<script>
import {
  mapActions,
  mapGetters
} from 'vuex';

import SocketioService from '../../services/socketio.service';
import {
  ACTION_MAIN_CONNECT_SOCKET,
  GETTER_LOADING
} from '../../const';

export default {
  data () {
    return {
      value: '',
      timeout: null
    }
  },
  methods: {
    ...mapActions({
      connectSocket: ACTION_MAIN_CONNECT_SOCKET,
    }),
    onInput () {
      if (this.timeout) {
        clearTimeout(this.timeout);
      }
      if (!this.value) {
        return
      }
      this.timeout = setTimeout(() => {
        SocketioService.sendMessage(this.value);
      }, 3000);
    }
  },
  computed: {
    ...mapGetters({
      loading: GETTER_LOADING
    })
  },
  mounted () {
    const token = localStorage.getItem('token');
    this.connectSocket(token);
  },
  beforeUnmount() {
    SocketioService.disconnect();
  }
}
</script>

<style>

</style>