<template>
  <div class="app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
body {
  font-family: 'Roboto';
  margin: 0;
  color: #606266;
}
.app {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
